@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

.logo{
    
    width: 100px;
    height: auto;
}

.carrusel{

    width: max-content;
}

.logonavbar{
    width: 30px; 
    height: auto;
}

p{
    font-size: 15px;
}

#estilo_footer{

    background-color: beige(16, 227, 235);
    max-width: 100%;
}

#color-fondo{
    background-color: slategrey;
}

#estilo_quienes{
    width: 600px;
}

ul { 
    display: inline-block; 
    text-align: left; 
    font-size: 15px;
}

.block {
    margin-bottom: 50px;
}

.btn {
    border-radius: 20px;
}

.card-img-top{
    padding: auto;
    box-sizing: content-box;
}

.card-body{
    max-width: fit-content;
    max-height: fit-content;
}

.card-title{
    color:white;
}
.card-text{
    color: white;
    font-size: 25px;
}

.card{
    background-color:currentColor ;
}

.form-label{
    font-size: 20px;
    font-style: italic;
}
.form-control{
    border-radius: 10px;
}

#form-label {
    
    text-decoration-color: aliceblue ;
    background: rgb(199, 248, 199)
}

#color-form-label{
    color: aliceblue;
}